<div class="row">
  <div class="col-xs-4">
    <form>
      <div class="form-group">
        <label for="sessKey">Session Key</label>
        <input type="text" class="form-control" id="sessKey" placeholder="Session Key">
      </div>
      <div class="form-group">
        <label for="maskKey">Private Key <br/><small>(Note this does not upload the key to the server)</small></label>
        <input type="file" id="maskKey" placeholder="Private Key">
      </div>
      <button ladda="unmaskSession.loading" id="unmask" ng-click="unmaskSession.unmask()" class="btn btn-primary ladda-button">
        Unmask Data
      </button>
    </form>
  </div>
</div>

<div ng-if="unmaskSession.loaded" id="friendly"></div>
<br/>
<pre ng-if="unmaskSession.loaded" id="result"></pre>
