<div class="row">
  <div class="col-xs-4">
    <form name="unmaskForm" novalidate>
      <div class="form-group" ng-class="{'has-error': unmaskForm.sessionKey.$invalid && unmaskForm.sessionKey.$touched}">
        <label for="sessionKey" class="control-label">Session Key</label>
        <input type="text"
               class="form-control"
               id="sessionKey"
               name="sessionKey"
               placeholder="Session Key"
               pattern="[0-9]{7}"
               ng-model="unmaskSession.sessionKey"
               ng-required="true">
      </div>
      <div class="form-group" ng-class="{'has-error': unmaskForm.privateKey.$invalid && unmaskForm.privateKey.$touched}">
        <label for="privateKey" class="control-label">Private Key <br/>
          <small>(Note this does not upload the key to the server)</small>
        </label>
        <input type="file"
               id="privateKey"
               name="privateKey"
               placeholder="Private Key"
               accept=".pem"
               ng-model="unmaskSession.privateKey"
               ng-required="true"
               ng-required-file="true">
      </div>
      <button ladda="unmaskSession.loading"
              id="unmask"
              class="btn btn-primary ladda-button"
              ng-click="unmaskSession.unmask()"
              ng-disabled="!unmaskForm.$valid">
        Unmask Data
      </button>
    </form>
  </div>
</div>

<div ng-if="unmaskSession.loaded" id="friendly"></div>
<br/>
<pre ng-if="unmaskSession.loaded" id="result"></pre>
