<form class="form-inline" role="form" id="inputform">
  <input type="text" id="sess" ng-model="sessionViewer.sessionID" placeholder="Session Number"/>
  <input type="submit" value="{{viewSession.buttonLabel}}"
         class="btn btn-primary" id="submit"
         ng-click="viewSession.getSessionParticipants(viewSession.sessionID)">
</form>
<div><a id="unmasklink"></a></div>
<table class="table table-striped" id="table" ng-show="viewSession.participantsLoaded">
  <thead>
  <tr>
    <th>Email</th>
    <th>Posted</th>
  </tr>
  </thead>
  <tbody id="participants">
  <tr ng-repeat="(participant, participantDate) in sessionViewer.participants">
    <td>{{participant}}</td>
    <td>{{participantDate | date:'medium'}}</td>
  </tr>
  </tbody>
</table>
